openapi: 3.0.3
info:
  title: CocoaTrack Satellite Imagery API
  description: |
    API for satellite imagery analysis capabilities in CocoaTrack, providing NDVI analysis, 
    deforestation detection, temporal analysis, and yield prediction for cocoa parcelles.
    
    ## Authentication
    All endpoints require Supabase JWT authentication via session cookies or Authorization header.
    
    ## Rate Limiting
    - 100 requests per minute per user
    - Rate limit information included in response headers
    
    ## Base URL
    Production: `https://cocoatrack.com/api/satellite`
  version: 1.0.0
  contact:
    name: CocoaTrack Support
    email: support@cocoatrack.com
  license:
    name: Proprietary

servers:
  - url: https://cocoatrack.com/api/satellite
    description: Production server
  - url: http://localhost:3000/api/satellite
    description: Development server

tags:
  - name: Imagery
    description: Satellite imagery retrieval and management
  - name: NDVI
    description: NDVI calculation and health status
  - name: Temporal
    description: Temporal analysis and trend detection
  - name: Deforestation
    description: Deforestation detection and alerts
  - name: Export
    description: Data export (KML, CSV)
  - name: Reports
    description: Certification and compliance reports
  - name: Yield
    description: Yield prediction
  - name: Cache
    description: Cache management

security:
  - BearerAuth: []
  - CookieAuth: []

paths:
  /imagery:
    get:
      tags:
        - Imagery
      summary: Retrieve satellite imagery
      description: Get satellite imagery for a parcelle with optional date and cloud cover filtering
      operationId: getImagery
      parameters:
        - name: parcelleId
          in: query
          required: true
          schema:
            type: string
            format: uuid
          description: Unique identifier of the parcelle
        - name: date
          in: query
          required: false
          schema:
            type: string
            format: date-time
          description: Acquisition date for imagery (defaults to most recent)
        - name: cloudCoverThreshold
          in: query
          required: false
          schema:
            type: number
            minimum: 0
            maximum: 100
            default: 20
          description: Maximum acceptable cloud cover percentage
      responses:
        '200':
          description: Imagery data retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ImageryResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/ImageryNotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalError'

  /ndvi:
    post:
      tags:
        - NDVI
      summary: Calculate NDVI
      description: Calculate NDVI (Normalized Difference Vegetation Index) for a parcelle
      operationId: calculateNDVI
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NDVIRequest'
      responses:
        '200':
          description: NDVI calculated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NDVIResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/InsufficientData'
        '500':
          $ref: '#/components/responses/InternalError'

  /health-status/{parcelleId}:
    get:
      tags:
        - NDVI
      summary: Get health status
      description: Retrieve current health status for a parcelle with trend analysis
      operationId: getHealthStatus
      parameters:
        - name: parcelleId
          in: path
          required: true
          schema:
            type: string
            format: uuid
          description: Unique identifier of the parcelle
      responses:
        '200':
          description: Health status retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthStatusResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NDVINotFound'
        '500':
          $ref: '#/components/responses/InternalError'

  /temporal:
    get:
      tags:
        - Temporal
      summary: Get temporal analysis
      description: Retrieve temporal NDVI data over a date range with trend analysis
      operationId: getTemporalAnalysis
      parameters:
        - name: parcelleId
          in: query
          required: true
          schema:
            type: string
            format: uuid
        - name: startDate
          in: query
          required: true
          schema:
            type: string
            format: date
        - name: endDate
          in: query
          required: true
          schema:
            type: string
            format: date
        - name: interval
          in: query
          required: false
          schema:
            type: string
            enum: [daily, weekly, monthly]
            default: monthly
      responses:
        '200':
          description: Temporal data retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TemporalResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/InsufficientData'
        '500':
          $ref: '#/components/responses/InternalError'

  /deforestation:
    get:
      tags:
        - Deforestation
      summary: Get deforestation alerts
      description: Retrieve deforestation alerts for a parcelle
      operationId: getDeforestationAlerts
      parameters:
        - name: parcelleId
          in: query
          required: true
          schema:
            type: string
            format: uuid
        - name: status
          in: query
          required: false
          schema:
            type: string
            enum: [pending, acknowledged, disputed, resolved]
      responses:
        '200':
          description: Alerts retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeforestationResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalError'

  /deforestation/check:
    post:
      tags:
        - Deforestation
      summary: Check for deforestation
      description: Trigger deforestation detection for a parcelle
      operationId: checkDeforestation
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeforestationCheckRequest'
      responses:
        '200':
          description: Deforestation check completed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeforestationResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalError'

  /export/kml:
    post:
      tags:
        - Export
      summary: Export as KML
      description: Export parcelle data with satellite analysis as KML file
      operationId: exportKML
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/KMLExportRequest'
      responses:
        '200':
          description: KML file generated successfully
          content:
            application/vnd.google-earth.kml+xml:
              schema:
                type: string
                format: binary
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalError'

  /export/csv:
    post:
      tags:
        - Export
      summary: Export temporal data as CSV
      description: Export temporal NDVI data as CSV file
      operationId: exportCSV
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CSVExportRequest'
      responses:
        '200':
          description: CSV file generated successfully
          content:
            text/csv:
              schema:
                type: string
                format: binary
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalError'

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: Supabase JWT token
    CookieAuth:
      type: apiKey
      in: cookie
      name: sb-access-token
      description: Supabase session cookie

  schemas:
    ImageryData:
      type: object
      properties:
        id:
          type: string
          format: uuid
        parcelleId:
          type: string
          format: uuid
        acquisitionDate:
          type: string
          format: date-time
        cloudCoverPercent:
          type: number
          minimum: 0
          maximum: 100
        satelliteSource:
          type: string
          enum: [sentinel-2]
        tileUrl:
          type: string
          format: uri
        bounds:
          type: array
          items:
            type: number
          minItems: 4
          maxItems: 4
        resolutionMeters:
          type: number
        createdAt:
          type: string
          format: date-time

    ImageryResponse:
      type: object
      properties:
        imagery:
          $ref: '#/components/schemas/ImageryData'
        cached:
          type: boolean
        cacheAge:
          type: number
          description: Age of cached data in milliseconds

    NDVIRequest:
      type: object
      required:
        - parcelleId
      properties:
        parcelleId:
          type: string
          format: uuid
        date:
          type: string
          format: date-time
        forceRecalculate:
          type: boolean
          default: false

    NDVIResult:
      type: object
      properties:
        id:
          type: string
          format: uuid
        parcelleId:
          type: string
          format: uuid
        calculationDate:
          type: string
          format: date-time
        meanNDVI:
          type: number
          minimum: -1
          maximum: 1
        minNDVI:
          type: number
          minimum: -1
          maximum: 1
        maxNDVI:
          type: number
          minimum: -1
          maximum: 1
        stdDevNDVI:
          type: number
        healthStatus:
          type: string
          enum: [excellent, good, fair, poor, critical]
        ndviRasterUrl:
          type: string
          format: uri
          nullable: true

    NDVIResponse:
      type: object
      properties:
        success:
          type: boolean
        data:
          type: object
          properties:
            ndvi:
              $ref: '#/components/schemas/NDVIResult'
            cached:
              type: boolean
            recommendation:
              type: string

    HealthStatusResponse:
      type: object
      properties:
        success:
          type: boolean
        data:
          type: object
          properties:
            parcelleId:
              type: string
              format: uuid
            healthStatus:
              type: string
              enum: [excellent, good, fair, poor, critical]
            meanNDVI:
              type: number
            lastCalculationDate:
              type: string
              format: date-time
            trend:
              type: object
              nullable: true
              properties:
                direction:
                  type: string
                  enum: [improving, stable, declining]
                changeRate:
                  type: number
                dataPoints:
                  type: integer
            recommendation:
              type: string
            cached:
              type: boolean

    TemporalDataPoint:
      type: object
      properties:
        date:
          type: string
          format: date-time
        ndvi:
          type: number
        cloudCover:
          type: number
        healthStatus:
          type: string
          enum: [excellent, good, fair, poor, critical]
        hasSignificantChange:
          type: boolean

    TemporalResponse:
      type: object
      properties:
        success:
          type: boolean
        data:
          type: object
          properties:
            parcelleId:
              type: string
              format: uuid
            startDate:
              type: string
              format: date-time
            endDate:
              type: string
              format: date-time
            interval:
              type: string
              enum: [daily, weekly, monthly]
            summary:
              type: object
              properties:
                timeline:
                  type: array
                  items:
                    $ref: '#/components/schemas/TemporalDataPoint'
                trend:
                  type: object
                  nullable: true
                significantChanges:
                  type: integer
                averageNDVI:
                  type: number

    DeforestationEvent:
      type: object
      properties:
        id:
          type: string
          format: uuid
        parcelleId:
          type: string
          format: uuid
        baselineDate:
          type: string
          format: date-time
        detectionDate:
          type: string
          format: date-time
        baselineNDVI:
          type: number
        currentNDVI:
          type: number
        ndviChange:
          type: number
        affectedAreaHectares:
          type: number
        affectedAreaPercent:
          type: number
        status:
          type: string
          enum: [pending, acknowledged, disputed, resolved]

    DeforestationResponse:
      type: object
      properties:
        success:
          type: boolean
        data:
          type: object
          properties:
            alerts:
              type: array
              items:
                $ref: '#/components/schemas/DeforestationEvent'
            compliant:
              type: boolean
            summary:
              type: object
              properties:
                totalAlerts:
                  type: integer
                pendingAlerts:
                  type: integer
                acknowledgedAlerts:
                  type: integer
                disputedAlerts:
                  type: integer

    DeforestationCheckRequest:
      type: object
      required:
        - parcelleId
      properties:
        parcelleId:
          type: string
          format: uuid
        baselineDate:
          type: string
          format: date
        currentDate:
          type: string
          format: date

    KMLExportRequest:
      type: object
      required:
        - parcelleIds
        - options
      properties:
        parcelleIds:
          type: array
          items:
            type: string
            format: uuid
          maxItems: 100
        options:
          type: object
          required:
            - includeTemporal
            - includeNDVI
            - includeDeforestation
            - format
          properties:
            includeTemporal:
              type: boolean
            includeNDVI:
              type: boolean
            includeDeforestation:
              type: boolean
            startDate:
              type: string
              format: date
            endDate:
              type: string
              format: date
            format:
              type: string
              enum: [kml, kmz]

    CSVExportRequest:
      type: object
      required:
        - parcelleId
        - startDate
        - endDate
      properties:
        parcelleId:
          type: string
          format: uuid
        startDate:
          type: string
          format: date
        endDate:
          type: string
          format: date
        interval:
          type: string
          enum: [daily, weekly, monthly]
          default: monthly

    Error:
      type: object
      properties:
        error:
          type: string
        code:
          type: string
        message:
          type: string
        details:
          type: object

  responses:
    BadRequest:
      description: Invalid request parameters
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    
    Unauthorized:
      description: Authentication required
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    
    Forbidden:
      description: Access denied
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    
    ImageryNotFound:
      description: Imagery not available
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    
    NDVINotFound:
      description: NDVI data not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    
    InsufficientData:
      description: Insufficient data for analysis
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    
    TooManyRequests:
      description: Rate limit exceeded
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    
    InternalError:
      description: Internal server error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
